h1{
text-align: center;
}

.Main{

    background-color: aquamarine;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    margin: 2%;
} 
.MainCaption{
    text-align: right;
}
.Caption{
float: right;

   
    text-align: center;
}
.Caption p{
    font-size: 12pt;
    background-color: coral;
    margin: 2px;
    border: 1px solid black;
}


.row {
display: flex;
}